<div class="index">
  <div class="row">
    <div class="col-sm list-column">
      <h6>Ticket:</h6>
    </div>
    <div class="col-sm list-column">
      <h6>Excavator:</h6>
    </div>
  </div>

  <%= render @tickets %>
</div>
