<div class="show">
  <div id="map"></div>
</div>

<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: {lat: -33.872, lng: 151.252},
    });

    var outerCoords = [
      {lat: -32.364, lng: 153.207},
      {lat: -35.364, lng: 153.207},
      {lat: -35.364, lng: 158.207},
      {lat: -32.364, lng: 158.207}
    ];

    map.data.add({geometry: new google.maps.Data.Polygon([outerCoords])})
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn-ATmrNfpBqXsBw1DlsAH4p_29iQqDgc&callback=initMap" async defer></script>
