<div class="show">
  <span id="polygon", style="display: none"><%= @ticket.digsite_info %></span>
  <div id="map"></div>
</div>

<script>
  function coordinates() {
    const polygon = document.getElementById('polygon').textContent
    const pattern = /(-?\d{2}\.\d* -?\d{2}.\d*)/g
    const pairs = polygon.match(pattern)

    const coordinates = pairs.map( pair => {
      const [lat, long] = pair.split(' ')
      return {lat: parseFloat(lat), lng: parseFloat(long)}
    })

    return coordinates
  }

  function initMap() {
    const coords = coordinates()

    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: coords[0],
    })

    map.data.add({geometry: new google.maps.Data.Polygon([coords])})
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn-ATmrNfpBqXsBw1DlsAH4p_29iQqDgc&callback=initMap" async defer></script>
